<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.test.mlfacelandmarkplugin.PermissionHelper"
            android:exported="true">
            <meta-data android:name="mlfacelandmarkplugin.PermissionHelper" android:value="true" android:theme="@style/Theme.AppCompat"/>
        </activity>
    </application>
</manifest>